@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.content-grid {
		--padding-inline: 1rem;
		--content-max-width: 900px;
		--breakout-max-width: 1200px;

		--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

		display: grid;
		grid-template-columns:
			[full-width-start] minmax(var(--padding-inline), 1fr)
			[breakout-start] minmax(0, var(--breakout-size))
			[content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
			[content-end]
			minmax(0, var(--breakout-size)) [breakout-end]
			minmax(var(--padding-inline), 1fr) [full-width-end];
	}

	.content-grid > :not(.breakout, .full-width),
	.full-width > :not(.breakout, .full-width) {
		grid-column: content;
	}

	.content-grid > .breakout {
		grid-column: breakout;
	}

	.content-grid > .full-width {
		grid-column: full-width;
		display: grid;
		grid-template-columns: inherit;
	}

	img.full-width {
		@apply w-full max-h-[45vh] object-cover;
	}
}
.scroll-reveal span {
	color: hsl(0 0% 100% / 0.2);
	background-image: linear-gradient(to right, #ff00cc, #333399);
	background-size: 0% 100%;
	animation: scroll-reveal linear forwards;
	animation-timeline: view();
	@apply bg-clip-text bg-no-repeat;
}
@keyframes scroll-reveal {
	to {
		background-size: 100% 100%;
	}
}
